
*{
	margin: 0;
	padding: 0;
}

header{
	margin-bottom: 20px;
	background-color: #F7DC6F;	
	background-image: url(../imagenes/choco.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
	height: 200px;
}

h1{
	padding: 50px;
	color: white;
	font-size: 90px;
	text-align: center;
}
nav{
 background-color: #E74C3C;
 margin-bottom: 40px;	
}

.a_class{
	display: inline-block;
	padding: 10px 20px;
	margin-right: 30px;
	margin-left: 30px;
	letter-spacing: 2px;
	color:black;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	overflow: hidden;
	transition: 0.2s;
	border-radius: 30px;
}

.a_class:hover{
background:#F7DC6F;
box-shadow: 0 0 10px #F7DC6F, 0 0 30px #F7DC6F,0 0 60px #F7DC6F;
}
.div1 {
	clear: both;
	text-align: center;
	background-image: url(../imagenes/fruto.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: cover;
	font-weight: bold;


}

aside{
	background-image: url(../imagenes/fondoaside.jpg);
	background-repeat: no-repeat;
	background-position: cover;
	background-position: 50% 50%;
	margin: 10px;
	margin-right: 20px;
	background-color:#f4fab4;
	width:25%;
	text-overflow: right;	
	padding-top: 15px;
	padding-left: 30px;
	float: left;
	box-sizing: border-box;
	border:3px solid ;
	height: 600px;
	overflow: auto;

}

section{
	background-image: url(../imagenes/fondoaside.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 10px;
	background-color:#f4fab4;

	padding-left: 30px;
	width: 70%;
	float: left;
	box-sizing: border-box;
	border:3px solid black;
	height: 600px;
	overflow: auto;

}

article{
	background-color:#f4fab4;
	background-image: url(../imagenes/fondoaside.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	margin: 10px;
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 30px;
	width: 98%;
	clear:both;
	text-align: center;
	box-sizing: border-box;
	border:3px solid ;
	overflow: auto;
}

footer{
	background-color: #E74C3C;
	text-decoration: none;
	height: 90px;
	padding-left: 40%;
}
.redes_sociales{
	float: left;
	margin-top: 20px;
	margin-right: 40px;
}
.redes{
	width: 45px;
	height: 45px;
}
.underline{
	text-decoration: underline;
}


body{
	background-color:#f4fab4;
	background-image: url(../imagenes/bakery.jpg);
	background-attachment: fixed;
}

img{
	margin-right: 30px;
}

.boton-w{
	background-color: #2e6329;
	border:1px solid white;
	position: fixed;
	z-index: 999;
	border-radius: 50%;
	bottom: 20px;
	right: 25px;
	padding: 25px;
	transition: ease 0.3s;
	width: 50px;
	animation: efecto 1.2s infinite;
}

.boton-w:hover{
	transform: scale(1.1);
	transition: 0.3s;
}

.boton{
	padding: center;
	width: 50px;
	transition: ease 1s;

}

@keyframes efecto{
	0%{
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
	}
	100%{
		box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
	}
}