
*{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "cursiva" ;
	src: url(../fuentes/SCRIPTBL.TTF) format('truetype');
}


header{
	margin-bottom: 1%;
	background-color: #F7DC6F;	
	background-image: url(../imagenes/choco.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
	height: 100%;
}

h1{
	padding: 5%;
	color: white;
	font-size: 7rem;
	text-align: center;
	font-family: 'Archivo', sans-serif;

}


nav{
 background-color: #E74C3C;
 margin-bottom: 3vh;
 width: 100%;
}

#nav{
	display: flex;
	justify-content: space-around;
}

.a_class{
	display: inline-block;
	padding: 3vh 3vh;
	margin-top: 5vh;
	margin-right: 3vh;
	margin-left: 2.5vh;
	letter-spacing: 0.01vh;
	color:black;
	font-weight: bold;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
	border-radius: 5vh;
	font-size: 1.5em;
	margin-bottom: 3%;
	font-family: "cursiva"
}

.a_class:hover{
background:#F7DC6F;
box-shadow: 0 0 10vh #F7DC6F, 0 0 10vh #F7DC6F,0 0 10vh #F7DC6F;
}

.contact-button{
    display: inline-block;
	padding: 3vh 3vh;
	color:black;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.5em;
	background-color: #E74C3C;
	border-radius: 5vh;
 	margin-top: 5vh;
	margin-right: 3vh;
	letter-spacing: 0.01vh;
	margin-bottom: 3%;
	font-family: "cursiva"
}


.div1 {
	clear: both;
	text-align: center;
	background-image: url(../imagenes/fruto.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: cover;
	font-weight: bold;
	font-size: 0.9rem;
	font-family: 'Noto Serif', serif;


}

.contenedor1{
	display: flex;
	justify-content: space-around;
}

section{
	background-image: url(../imagenes/fondoaside.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color:#f4fab4;
	margin: 1%;
	padding: 6vh;
	padding-top: 4vh; 
	width: 70%;
	box-sizing: border-box;
	border:3px solid black;
	height: 170vh;
	overflow: auto;
	font-size: 1rem;
	font-family: 'Noto Serif', serif;
}
aside{
	background-color:#f4fab4;
	background-image: url(../imagenes/fondoaside.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border:3px solid black;
	box-sizing:border-box;
	margin: 1%;
	padding: 6vh;
	padding-top: 4vh; 
	overflow: auto;
	width:25%;
	height: 170vh;
	font-size: 1rem;
	font-family: 'Noto Serif', serif;
}



article{
	background-color:#f4fab4;
	background-image: url(../imagenes/fondoaside.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	margin: 1%;
	padding-left: 3vh;
	padding-top: 3vw;
	padding-bottom: 1vw;
	width: 97%;
	height: 300%;
	
	text-align: center;
	box-sizing: border-box;
	border:3px solid black;
	overflow: auto;
	font-size: 1rem;
	font-family: 'Noto Serif', serif;
}
.div2-1{
	display: flex;
	justify-content: space-around;
}
.div2{
	display: flex;
	justify-content: space-around;
}

footer{
	background-color: #E74C3C;
	text-decoration: none;
	height: 40%;
	padding-left: 85vh;
	display: flex;
	justify-content: flex-start;
}
.redes_sociales{
	float: left;
	margin-top: 2vw;
	margin-right: 3vw;
}
.redes{
	width: 10vh;
	height: 10vh;
}
.underline{
	text-decoration: underline;
	font-size: 2.2rem;
	font-family: "cursiva"

}

.underline:hover{
	font-size: 2.4rem;
}


body{
	background-color:#f4fab4;
	background-image: url(../imagenes/bakery.jpg);
	background-attachment: fixed;
}



.boton-w{
	background-color: #2e6329;
	border:1px solid white;
	position: fixed;
	z-index: 999;
	border-radius: 50%;
	bottom: 2vh;
	right: 2vh;
	padding: 4.5vh;
	transition: ease 0.3s;
	width: 10vh;
	animation: efecto 1.2s infinite;
}

.boton-w:hover{
	transform: scale(1.1);
	transition: 0.3s;
}

.boton{
	padding: center;
	width: 10vh;
	transition: ease 1s;

}

@keyframes efecto{
	0%{
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
	}
	100%{
		box-shadow: 0 0 0 4vh rgba(0, 0, 0, 0);
	}
}

form{
	font-weight: bold;
}


.contact-button:hover{
background:#F1948A;
box-shadow: 0 0 5vh #F1948A, 0 0 5vh #F1948A,0 0 5vh #F1948A;
}

.div1-1 {
	font-size: 1rem;
	color: #4A235A ;
}

.div1-1:hover {
	font-size: 1.2rem;
	color:red ;
}

#video:hover{
	color:red;
}

.subtitulos:hover{
	color: red;
}

@media (min-width:575px){
	nav{
		background-color:grey;
	}
	h1{
		color:#E74C3C;
	}
	article{
		imag
	}
}

@media(min-width: 991px){
	nav{
		background-color: white;
	}
	h1{
		color:white;
	}
	.div1{
		background-image: none;
	}
}