


@font-face {
	font-family: "cursiva" ;
	src: url(../fuentes/SCRIPTBL.TTF) format('truetype');
}


/*NAV*/

.ilogo{
	height: 12vh;
}
.nav1{
	position: fixed;
	width: 100%;
	background-color: black;
}
.contact{
	color: white;
	font-family: "cursiva";
	font-size: 1.5em;
	border-radius: 6vh;
}
.contact:hover{
	background:#F7DC6F;
	box-shadow: 0 0 10vh #F7DC6F, 0 0 10vh #F7DC6F,0 0 10vh #F7DC6F;
	color:black;
}

/*TITLE*/
h1{
	color:#EA7339;
	font-size: 7rem;
	text-align: center;
	font-family: 'Archivo', sans-serif;
}

/*CARDS*/
.contenedorr{
margin-top:50px;
}

.botreceta{
	background-color: black;
}
.botreceta:hover{
font-weight: bold;
color:black;
background:#F7DC6F;
border-color: black;
box-shadow: 0 0 10vh #F7DC6F, 0 0 10vh #F7DC6F,0 0 10vh #F7DC6F;
}

/*CONTENEDOR1: SACHER*/
.contenedor1{
	display: flex;
	justify-content: space-around;
}







/*
.a_class{
	display: inline-block;
	padding: 3vh 3vh;
	margin-top: 5vh;
	margin-right: 3vh;
	margin-left: 2.5vh;
	letter-spacing: 0.01vh;
	color:black;
	font-weight: bold;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
	border-radius: 5vh;
	font-size: 1.5em;
	margin-bottom: 3%;
	font-family: "cursiva"
}

.a_class:hover{
background:#F7DC6F;
box-shadow: 0 0 10vh #F7DC6F, 0 0 10vh #F7DC6F,0 0 10vh #F7DC6F;
}




.div1 {
	clear: both;
	text-align: center;
	background-image: url(../imagenes/fruto.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: cover;
	font-weight: bold;
	font-size: 0.9rem;
	font-family: 'Noto Serif', serif;


}



section{
	background-image: url(../imagenes/fondoaside.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color:#f4fab4;
	margin: 1%;
	padding: 6vh;
	padding-top: 4vh; 
	width: 70%;
	box-sizing: border-box;
	border:3px solid black;
	height: 170vh;
	overflow: auto;
	font-size: 1rem;
	font-family: 'Noto Serif', serif;
}
aside{
	background-color:#f4fab4;
	background-image: url(../imagenes/fondoaside.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border:3px solid black;
	box-sizing:border-box;
	margin: 1%;
	padding: 6vh;
	padding-top: 4vh; 
	overflow: auto;
	width:25%;
	height: 170vh;
	font-size: 1rem;
	font-family: 'Noto Serif', serif;
}

*/


/*CONTENEDOR2:SACHER*/
.contenedor2{
	margin-top: 15vh;
}

.estilosacher{
	color:#EA7339;
	font-size: 6.5rem;
	font-family: 'Archivo', sans-serif;
	text-decoration: underline;
	font-family: "cursiva";
	text-align: center;
}
.div1 {
	clear: both;
	text-align: center;
	background-image: url(../imagenes/fruto.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: cover;
	font-weight: bold;
	font-size: 0.9rem;
	font-family: 'Noto Serif', serif;
}

.underline{
	text-decoration: underline;
	font-size: 2.1rem;
	font-family: "cursiva";
	display:flex;
	justify-content: space-around;
}

.underline:hover{
	font-size: 2.4rem;
	color:#EA7339;
}
.subtitulos{
	color: white;
}
.subtitulos:hover{
	color: red;
}
.text-color{
	color:white;
}


/*ORIGEN*/
.origen{
	margin-top: 15vh;
	position: center;
	background-color:#EA7339;
	border-radius: 1vh;
	color: black;
}

.est1{
	display: flex;
	justify-content: space-around;

}
.titulo_origen{
	font-family: 'Noto Serif', serif;

}

article{
	background-color:#f4fab4;
	background-image: url(../imagenes/fondoaside.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	margin: 1%;
	padding-left: 3vh;
	padding-top: 3vw;
	padding-bottom: 1vw;
	width: 97%;
	height: 300%;
	
	text-align: center;
	box-sizing: border-box;
	border:3px solid black;
	overflow: auto;
	font-size: 1rem;
	font-family: 'Noto Serif', serif;
}
.div2-1{
	display: flex;
	justify-content: space-around;
}
.div2{
	display: flex;
	justify-content: space-around;
}

/*ultimo contenedor*/
.ultimo{
	margin-top: 15vh;
	color:white;
}



footer{
margin-top: 1vw;
	margin-bottom: 1.5vw;
	background-color:black;
	text-decoration: none;
	height: 40%;
		display: flex;
	justify-content: center;
}
.iconos{
	
}

.redes_sociales{
	float: left;
	

	margin-right: 3vw;

}
.redes{
	width: 10vh;
	height: 10vh;
}

body{
	background-color: #000000;
	background-attachment: fixed;
}



.boton-w{
	background-color: #2e6329;
	border:1px solid white;
	position: fixed;
	z-index: 999;
	border-radius: 70%;
	bottom: 1vh;
	right: 6vh;
	padding: 3vh;
	transition: ease 0.3s;
	width: 11vh;
	animation: efecto 1.2s infinite;
}

.boton-w:hover{
	transform: scale(1.1);
	transition: 0.3s;
}

.boton{
	padding:center;
	width: 5vh;
	transition: ease 1s;

}

@keyframes efecto{
	0%{
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
	}
	100%{
		box-shadow: 0 0 0 4vh rgba(0, 0, 0, 0);
	}
}

form{
	font-weight: bold;
}

/*comandos que correspondian al boton de "formulario de contacto"*/
.contact-button{
    display: inline-block;
	padding: 3vh 3vh;
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.5em;
	background-color: black;
	border-radius: 5vh;
 	margin-top: 5vh;
	margin-right: 3vh;
	letter-spacing: 0.01vh;
	margin-bottom: 3%;
	font-family: "cursiva";
	border-radius: 6vh;
}
.contact-button:hover{
	background:#F7DC6F;
	box-shadow: 0 0 10vh #F7DC6F, 0 0 10vh #F7DC6F,0 0 10vh #F7DC6F;
	color:black;
/*fin de comandos que correspondian al boton de "formulario de contacto"*/
.div1-1 {
	font-size: 1rem;
	color: #4A235A ;
}

.div1-1:hover {
	font-size: 1.2rem;
	color:red ;
}

#video:hover{
	color:red;
}

